
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Raleway:ital,wght@0,200;0,400;1,100&display=swap');

:root {
        /* colors */
        --clr-dark: #191F3F;
        --clr-light: #BCBCCC;
        --clr-white: #F3F3FB;
        --clr-drk1: #84849C;
        --clr-drk2: #8B8C9C;
        --clr-drk3: #A5A7B3;
}
        /* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
img {
        margin: 0;
}

/* Font-weight */
h1, h2, h3 {
        font-weight: 400;
}

body {
        font-family: 'Raleway', sans-serif;
        background-color: var(--clr-white);
        width: 100%;
        margin: auto;
}

.tracker {
        width: 95%;
        margin: auto;
}

/* make images easier to work with */
img {
        max-width: 100%;
        display: block;
}

/* make inputs easier to work with */
input,
button,
select {
        font: inherit;
}

/* nav styles */
nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

/* form styles */
.signIn {
        display: flex;
        margin: 0;

}

.form-section {
        width: 100%;
        margin-block: auto;
        margin-left: 2rem;
}

.sideImg {
        width: 100%;
        height: 100%;
}

.error {
        color: #fc8181;
        font-size: 0.75rem;
        text-align: left;
        margin-top: 0.25rem;
}

.signUp {
        width: 80%;
        margin: 0 auto;
}

input,
select {
        width: 75%;
        padding: 0.65rem 0.5rem;
        font-size: 1rem;
        margin: 1rem 0 0.2rem;
        color: var(--clr-dark);
        border: 2px solid var(--clr-light);
        border-radius: 10px;
        outline: none;
}

/* timer display styles */
.counter {
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.timer {
        display: flex;
        justify-content: space-around;
}

.timer-numbers {
        margin: 1.5rem;
        text-align: center;
}

/* tracking history filter styles*/

.filter-inputs {
        display: flex;
        justify-content: space-around;
}

.form {
        display: flex;
        justify-content: space-around;
}

.label-name {
        display: flex;
        align-items: center;
}

/* button styles */
.counter-btn {
        background-color: var(--clr-drk3);
        height: 55%;
        width: 10%;
        border: none;
        border-radius: 5px;
        padding: 0.5rem;
}

.counter-btn:hover {
        background-color: var(--clr-drk2);
        cursor: pointer;
        font-weight: bolder;
        border: 1px solid white;
}
