
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Raleway:ital,wght@0,200;0,400;1,100&display=swap');

:root {
        /* colors */
        --clr-dark: #191F3F;
        --clr-light: #BCBCCC;
        --clr-white: #F3F3FB;
        --clr-drk1: #84849C;
        --clr-drk2: #8B8C9C;
        --clr-drk3: #A5A7B3;
}
        /* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
p,
img {
        margin: 0;
}

body {
        font-family: 'Raleway', sans-serif;
        background-color: var(--clr-white);
}